/* Generals */

body{
    margin: 0vw;
}

ul{
    margin-block-start: 0vw;
    margin-block-end: 0vw;
}

p{
    margin-block-start: 0vw;
    margin-block-end: 0vw;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


/* Mise en forme */

#header{
    display: block;
    background-color: #343433;
    height: auto;
}

#header-tag-align-center{
    display: block;
    text-align: center;
    padding-top: 1%;
}

#header-tag-text{
    display: inline-block;
    color: white;
    font-size: 4vw;
}

#navbar{
    display: block;
    background-color: #eeeeed;
    text-align: center;
}

#navbar-unlisted-list{
    padding-left: 0px;
}

#navbar-item{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#navbar-item-text{
    color: black;
    font-size: 20px;
}

#main{
    position: fixed;
}

#main-left{
    position: fixed;
    background-color: #eeeeed;
    width: 250px;
    height: 100%;
}

.titre-navbar-menu{
    margin-left: 10px;
}

#navbar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeed;
}

#navabar-menu-text{
    display: inline-block;
    color: black;
    font-size: 20px;
}

.navabar-menu-text-soda{
    width: 20px;
}

.navabar-menu-text-biscuit{
    width: 20px;
}

.navabar-menu-text-fruit_sec{
    width: 20px;
}

.navabar-menu-connexion{
    color: black;
}

#main-right{
    margin-left: 260px;
}